<section class="sectionGeneral">
    <section class="container">
      <section class="box">
      <section class="image">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/514929e0-399b-4db0-93ae-fbc629f885ac/dch43rf-be69acfb-2124-4169-bac0-0327f96652ef.jpg/v1/fill/w_1024,h_1024,q_75,strp/ultraman_tiga_chibi_by_noovart_dch43rf-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcLzUxNDkyOWUwLTM5OWItNGRiMC05M2FlLWZiYzYyOWY4ODVhY1wvZGNoNDNyZi1iZTY5YWNmYi0yMTI0LTQxNjktYmFjMC0wMzI3Zjk2NjUyZWYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.WzOUVE-OQkrYaHbLswRAfE_cnkRbCl7TAlDcdAcoUDQ">
        </section>
        <section class="name_job">Aron Ruiz</section>
        <section class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </section>
        <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi nemo.</p>
        <section class="btns">
          <button>Read More</button>
          <button>Subscribe</button>
        </section>
      </section>
      <section class="box">
        <section class="image">
        <img src="https://i.pinimg.com/564x/f9/59/3e/f9593e37043fc5834c5a107b419adc7b.jpg" alt="">
        </section>
        <section class="name_job">Katherine Reyes</section>
        <section class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </section>
        <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi nemo.</p>
        <section class="btns">
          <button>Read More </button>
          <button>Subscribe</button>
        </section>
      </section>
      <section class="box">
        <section class="image">
        <img src="https://pbs.twimg.com/media/FTywxmVWIAI8Nj4.png" alt="">
        </section>
        <section class="name_job">Lilian Pashanace</section>
          <section class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </section>
        <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi nemo.</p>
        <section class="btns">
          <button>Read More</button>
          <button>Subscribe</button>
        </section>
      </section>
      <section class="box">
        <section class="image">
        <img src="https://i.imgur.com/rcHWd94.jpeg" alt="">
        </section>
        <section class="name_job">Lyang Lo</section>
          <section class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </section>
        <p> Lorem ipsum dolor sitamet, stphen hawkin so adipisicing elit. Ratione disuja doloremque reiciendi nemo.</p>
        <section class="btns">
          <button>Read More</button>
          <button>Subscribe</button>
        </section>
      </section>
    </section>
      </section>